<main>
    <div class="container">
        <h1>FORMAS DE VESTIR</h1>
        <p class="paragraph">Se relatan las tradiciones y costumbres del Pueblo Totolapeño de 1901-1938 los hombres vistieron calzón de manta y camisa de tela corriente, sombrero panza de burro que así se le nombraba, con ceñidor oculto bajo la falda de la camisa, huaraches pie de gallo que así se les nombró de una suela y correa corriente, también en esta forma vestían los jóvenes y hombres de esta Tierra Totolapeña.</p>
        <p class="paragraph">Las señoras y señoritas vestían con su refajo de género o de manta adornados con embutido de hilo de seda en las mangas, cubrían hombros y parte del pecho y la espalda, sobre la camisa usaron mascadas de seda, los que podían económicamente y las que no de algodón de distintos colores, en los pies usaban huaraches pie de gallo, en sus trenzas usaron listones de varios colores, aretes regulares de aquel tiempo y anillos de cobre con un letrero que decía recuerdo de corazón encima y grabada una inicial.</p>
    </div>
</main>
  