<footer class="Footer">
    <div class="Footer-child">
        <div class="container">
            <div class="Footer-section--c4">
                <div class="Footer-card">
                    <div class="Footer-card-logo">
                        <img alt="Logo de la Dependencia" src="../../../../assets/img/Logo_slogan1.png">
                    </div>
                    <div class="Footer-card-data">
                        <div class="Footer-title">
                            <h3>
                                Contactanos
                            </h3>
                        </div>
                        <div class="Footer-card-address">
                            <div class="Text">
                                <strong>
                                    Dirección:
                                </strong>
                                Calle oriente s/n, colonia centro,
                                <br>
                                San Pedro Totolapam. C.P 70480
                            </div>
                            <div class="Footer-card-email">
                                <div class="Text">
                                    <strong>
                                        Correo electrónico:
                                    </strong>
                                    totolapam2325@gmail.com
                                </div>
                                <div class="Text">
                                    <strong>
                                        Telefono:
                                    </strong>
                                        951 553 2535
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="Footer-social">
                    <li class="Footer-title">
                        <h3>
                            Redes sociales
                        </h3>
                    </li>
                    <li class="FooterSocial-item">
                        <a target="_blank">
                            <i class="fa fa-facebook">
                            </i>
                        </a>
                    </li>
                    <!-- <li class="FooterSocial-item">
                        <a href="#" target="_blank">
                            <i class="fa fa-twitter">
                            </i>
                        </a>
                    </li> -->
                    <!-- <li class="FooterSocial-item">
                        <a href="#" target="_blank">
                            <i class="fa fa-youtube">
                            </i>
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="Footer-section--c3">
                <div class="Footer-links">
                    <ul class="Footer-links-content">
                        <li class="Footer-title">
                            <h3>
                                Navegación
                            </h3>
                        </li>
                        <li class="Footer-links-link">
                            <a href="#/index">
                                Inicio
                            </a>
                        </li>
                        <li class="Footer-links-link">
                            <a href="#/index/historia">
                                Historia
                            </a>
                        </li>
                        <li class="Footer-links-link">
                            <a href="#/index/formasvestir">
                                Formas de vestir
                            </a>
                        </li>
                        <li class="Footer-links-link">
                            <a href="#/index/festividades">
                                Festividades
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="Footer-section--c3">
                <div class="Footer-links">
                    <ul class="Footer-links-content">
                        <li class="Footer-title">
                            <h3>
                                <!-- Sitios relacionados -->
                            </h3>
                        </li>
                        <li class="FooterLinks-link">
                            <a  target="_blank">
                                Estructura Organica
                            </a>
                        </li>
                        <li class="FooterLinks-link">
                            <a target="_blank">
                                Marco Normativo
                            </a>
                        </li>
                        <li class="Footer-links-link">
                            <a href="#/index/gacetapdf">
                                Gaceta Oficial
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="Footer-section--c2">
                <div class="Footer-banners">
                    <div class="Footer-banners-item">
                        <a target="_blank">
                            <img alt="" height="180" src="../../../../assets/img/lateral3.jpg" width="320">
                            
                        </a>
                    </div>
                    <div class="Footer-banners-item">
                        <a target="_blank">
                            <img alt="" height="180" src="../../../../assets/img/lateral4.jpg" width="320">
                            
                        </a>
                    </div>
                    <div class="Footer-banners-item">
                        <a target="_blank">
                            <img alt="" height="180" src="../../../../assets/img/lateral5.jpg" width="320">
                            
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Footer-child">
        <div class="container">
            <div class="Footer-info">
                <div class="Footer-info-link">
                    <b>
                        Derechos reservados
                    </b>
                </div>
                <div class="Footer-info-link">
                    <a >
                        Términos y Condiciones
                    </a>
                </div>
                <div class="Footer-info-link">
                    <a >
                        Política de privacidad
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
