<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
    <div class="row justify-content-md-center" style="margin-top: 10px;">
      <img src="assets/images/logomayblancototal.png" style="width:350px;">
    </div>
</ngx-spinner>
<div class="container">
    <mat-toolbar>
        <span>Archivos</span>
        <!-- <button mat-raised-button (click)="exportCSV()">Descargar CSV</button> -->
    </mat-toolbar>
    <c-col>
        <button cButton [color]="'success'" (click)="clickAdd()">Agregar</button>
    </c-col>

    <div class="mat-elevation-z8" class="filter">
        <table #table mat-table [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
            </ng-container>                        
            
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Titulo </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="description2">
                <th mat-header-cell *matHeaderCellDef> Subdescripcion </th>
                <td mat-cell *matCellDef="let element"> {{element.description2}} </td>
            </ng-container>

            <ng-container matColumnDef="imageTicket">
                <th mat-header-cell *matHeaderCellDef> Pdf </th>
                <td mat-cell *matCellDef="let element">
                    <a class="pointer" (click)="show_image(element.id)" matTooltip="pdf" style="color: #3f64dd;">
                        <mat-icon style="color: red;" *ngIf="element.id == null">image_not_supported</mat-icon>
                        <mat-icon *ngIf="element.id">description</mat-icon>
                    </a>
                </td>
            </ng-container>
          
            <ng-container matColumnDef="Fecha de creacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> fecha de creacion </th>
              <td mat-cell *matCellDef="let element"> {{element?.creationDate | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef class="center"> Editar </th>
                <td mat-cell *matCellDef="let element">
                    <div class="sectionsButtons">
                        <button cButton [color]="'primary'" size="sm" variant="outline" mat-icon-button
                            (click)="clickUpdate('gaceta', element.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef class="center"> Eliminar </th>
                <td mat-cell *matCellDef="let element">
                  <div class="sectionsButtons">
                    <button cButton [color]="'warn'" size="sm" variant="outline" mat-icon-button
                      (click)="clickDelete(element.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>
              
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>   
</div>
   
