
        <main>
            <div class="container">
                <div id="Level-1">
                    <!-- IMAGENES DE SLIDER -->
                    <div class="Content">
                        <div class="slider">
                          <div class="slides" [style.transform]="'translateX(' + slidePosition + '%)'">
                            <div class="slide" *ngFor="let item of items">
                              <img [src]="getSafeImageUrl(item.image)" alt="" class="slide-image">
                              <div class="separator-line"></div>
                              <div class="description-container">
                                <div class="description">
                                  <p>{{ item.description }}</p>
                                </div>
                              </div>
                              <div class="separator-line"></div>
                            </div>
                          </div>
                          <div class="controls">
                            <button (click)="previousSlide()"><i class="fas fa-arrow-left"></i></button>
                            <button (click)="nextSlide()"><i class="fas fa-arrow-right"></i></button>
                          </div>
                      
                          <div class="navigation-dots">
                            <span class="dot" [class.active]="currentIndex === i" *ngFor="let item of items; let i = index" (click)="goToSlide(i)"></span>
                          </div>
                          <div class="separator-line"></div>                          
                        </div>
                    </div>           
                    <!-- IMAGENES BARRA LATERAL            -->
                    <div class="Sidebar">
                    <div class="Panel-elements Banner Home" *ngFor="let image of images; let i = index">
                        <div class="Image">
                        <a (click)="openModal(i)" id="banner_1">
                            <img alt="" height="160" [src]="baseUrl + image.nombre" width="320">      
                        </a>
                        </div>
                        <div class="Title">
                        <h3>
                            <a id="link_banner_1" target="_self">
                            {{ image.descripcion }}
                            </a>
                        </h3>
                        </div>
                    </div>
                    </div>
                    <div class="modal" *ngIf="showModal">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title">{{ images[currentIndex].descripcion }}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <img class="img-fluid" [src]="baseUrl + images[currentIndex].nombre">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="previousImage()">Previous</button>
                        <button type="button" class="btn btn-primary" (click)="nextImage()">Next</button>
                        </div>
                    </div>
                    </div>               
                </div>
                <!-- <div class="container">
                    <div class="owl-carousel owl-theme">
                      <div class="item" *ngFor="let image of images">
                        <img [src]="image.src" [alt]="image.alt" />
                        <h3>{{ image.alt }}</h3>
                      </div>
                    </div>
                  </div>
                   -->
                <div id="Level-2">
                    <div class="FullContent">
                        <!--<div class="Panel-nullContent">El componente <strong>eventos</strong> aún no esta completo, favor de cargar contenido.</div>-->
                    </div>
                </div>
                <div id="level-3">
                    <div class="FullContent">
                        <div class="Panel-empty Image-links R3">
                            <div class="Title">
                                <h2>
                                    CONOCIENDO SAN PEDRO TOTOLAPAM
                                </h2>
                            </div>
                            <!-- IMAGENES DE GALERIA -->
                            <div *ngFor="let imagen of galeria" class="Panel-imageLinks-item">
                                <div class="Image-normal">
                                  <a target="_self">
                                    <img alt="" height="180" [src]="baseUrl + imagen.rutaImagen" width="320">
                                  </a>
                                </div>
                                <div class="Title">
                                  <h4>
                                    <a href="" target="_self">
                                      {{ imagen.descripcion }}
                                    </a>
                                  </h4>
                                </div>
                            </div>                              
                        </div>
                    </div>
                </div>
                <div id="level-4">
                    <div class="FullContent">
                    </div>
                </div>
                <div id="level-5">
                    <div class="FullContent">
                        <div class="Title">
                            <h2>
                                FIESTA PATRONAL EN SAN PEDRO TOTOLAPAM
                            </h2>
                        </div>
                    </div>
                    <div class="Content">
                        <!-- IMAGENES DE FIESTA PATRONAL -->
                        <div *ngFor="let imagen of imagesSPT" class="Panel-elements Card News">
                            <div class="Panel-card-image">
                              <div class="Image-news">
                                <a>
                                  <img alt="" height="180" [src]="baseUrl + imagen.rutaImagen" width="320">
                                </a>
                              </div>
                            </div>
                            <div class="Panel-card-card">
                              <div class="Datetime-tag">
                                <a>
                                  {{ imagen.descripcion }}
                                </a>
                                <span>
                                  {{ imagen.fecha }}
                                </span>
                              </div>
                              <div class="Title">
                                <h3>
                                  <a>
                                    {{ imagen.titulo }}
                                  </a>
                                </h3>
                              </div>
                              <div class="Text">
                                <!-- Aquí puedes añadir texto adicional si lo deseas -->
                              </div>
                            </div>
                          </div>                          
                    </div>
                    <div class="Sidebar">
                        <div class="Slider-tweets">
                            <div class="Title">
                                <h3>
                                    Otras imagenes...
                                </h3>
                            </div>
                            <div class="Slider-one">
                                <div class="item" *ngFor="let imagen of imageMiniCarousel; let i = index" [ngStyle]="{ 'display': indiceMiniCarouselActual === i ? 'block' : 'none' }">
                                  <img [src]="baseUrl + imagen.rutaImagen" alt="">
                                  <div class="Text">
                                    {{ imagen.descripcion }}
                                  </div>
                                </div>
                              </div>
                              
                              <button class="arrow-button"(click)="anteriorImagen()">Anterior</button>
                              <button class="arrow-button"(click)="siguienteImagen()">Siguiente</button>
                              
                        </div>
                    </div>
                </div>
            </div>
            <div class="" id="BackTop" style="display: none;">
                <a href="#" id="BackTop-action">
                </a>
            </div>
        </main>
   
        
        <script src="../../../../assets/js/framework.js">
        </script> 
        <script>
            (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-80703668-4', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');
        </script>
        <script async="" src="./Consejería Jurídica y de Servicios Legales de la CDMX_files/_Incapsula_Resource" type="text/javascript">
        </script>
        <div class="stripe-loading-indicator loaded">
            <div class="stripe">
            </div>
            <div class="stripe-loaded">
            </div>
        </div>
        
        <script>
            const slider = document.getElementById('mySlider');
            const images = document.querySelectorAll('.slider-images img');
        
            slider.addEventListener('input', function() {
              // Ocultar todas las imágenes
              images.forEach(function(image) {
                image.classList.remove('active');
              });
        
              // Mostrar la imagen seleccionada
              images[slider.value - 1].classList.add('active');
            });
          </script>
