<main>
    <div class="container">
        <h1>FESTIVIDADES</h1>
        <p class="paragraph">La religión que tiene mayor membresía es la católica, por lo que existen diferentes tipos de hermandades para celebrar fechas como son; 3 de mayo, la santa cruz; 16 de julio, la virgen del Carmen; 15 de agosto, a la virgen de Concepción; 22 de noviembre, Sta. Cecilia; 28 de octubre, San Judas Tadeo y el 12 de diciembre a la virgen de Guadalupe.</p>
        <p class="paragraph">. En la localidad se localiza el templo erguido en honor a San Pedro, junto a él, una capilla lateral dedicada a la imagen del señor de oriente, donde se encuentra una serie de pinturas de principios del siglo XX que narran la leyenda de esta imagen. El 8 de diciembre se celebra la Purísima concepción de María Santísima. </p>
        <p class="paragraph">De marzo a abril, durante la cuaresma, se celebra al señor de oriente. Son tradicionales los fuegos pirotécnicos, las procesiones, las danzas regionales y la visita de juegos mecánicos a la región, jaripeos, torneos deportivos, calendas y bailes populares. Las festividades y actos públicos son acompañados de la música de banda de viento.</p>
        <p class="paragraph">En todo tipo de festividades se consume, los tradicionales moles, los caldos de res y pollo, los dulces típicos de la región y algunos antojitos. También en la población se elabora el “mezcal” de manera artesanal, en un recorrido es posible ver las fábricas rusticas llamados también “palenques” en donde elaboran esta bebida típica de la región.</p>
    </div>
</main>
  